*{
    /* background-color: #FDE8CD; */
    /* background-color: #FFF2CC; */
    /* color: white !important; */
    background-color: rgb(255, 255, 143);
    
}


#top, #navbarSupportedContent{
    background-color: yellow;
    color: black;
    font-weight: 400;
}

footer{
    background-color: yellow;
}
body{
    background-color: #FFF2CC
}

#mainheading{
    color: black !important;
}



#book-covers{
    height: 250px !important;
    width: 80% !important;
    display: flex !important;
    justify-content: center !important ;
    align-items: center;
}

#book-title{
    font-size: 25px;
}

#author-name{
    font-size: 10px;
}

#price{
    font-size: 8px;
}
